<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <span class="navbar-brand">Pänzsystem</span>
  <a class="nav-item nav-link" routerLink="/registration/new" routerLinkActive="active">Meldeamt</a>
  <a class="nav-item nav-link" routerLink="/banking" routerLinkActive="active">Bank</a>
</nav>
<div class="container content">
  <div class="row justify-content-center">
      <img src="assets/{{headerImage}}" width="1000" height="123">
  </div>
  <div class="row justify-content-center">
  	<router-outlet (activate)='onActivate($event)'></router-outlet>
  </div>
  <div class="row justify-content-center footer">
  	Powered by Pänzsystem 2017
  </div>
</div>
