<h1>
{{title}}
</h1>
<div *ngIf="showForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstname">Vorname</label>
      <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="citizen.FirstName" >
    </div>
    <div class="form-group col-md-6">
      <label for="lastname">Nachname</label>
      <input type="text" class="form-control" id="lastname"  name="lastname" [(ngModel)]="citizen.LastName" >
    </div>
  </div>
  <div class="form-group">
    <label for="birthday">Geburtstag</label>
    <input class="form-control" type="date"
         id="birthday" [(ngModel)]="citizen.Birthday" ngbDatepicker #d="ngbDatepicker" name="birthday">
    <button class="input-group-addon" (click)="d.toggle()" type="button">Auswählen</button>
  </div>
   <div class="form-group">
    <label for="phone">Telefon</label>
    <input type="tel" class="form-control" id="phone"  name="phone" [(ngModel)]="citizen.Phone" >
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="parentfirstname">Erzieher Vorname</label>
      <input type="text" class="form-control" id="parentfirstname"  name="parentfirstname" [(ngModel)]="citizen.ParentFirstName">
    </div>
    <div class="form-group col-md-6">
      <label for="parentlastname">Erzieher Nachname</label>
      <input type="text" class="form-control" id="parentlastname" name="parentlastname" [(ngModel)]="citizen.ParentLastName">
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="citizen.Email" >
  </div>
  <div class="form-group">
    <label for="phone">Bemerkung</label>
    <textarea class="form-control" id="annotation" name="annotation" rows="3" [(ngModel)]="citizen.Annotation"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Absenden</button>
</div>

<div *ngIf="showWait">
  <div class="row">
    <h2>Bitte warten...</h2>
  </div>
</div>

<div *ngIf="showResult">
  <div class="row"><h2>{{citizen.FirstName}} {{citizen.LastName}}</h2></div>
  <div class="row"><h3>Ausweisnummer: {{citizen.CitizenID}}</h3></div>
  <div class="row">Bitte die 20 Pänz nicht vergessen!</div>
</div>
