<ng-template #rt let-r="result" let-t="term">
  {{ r.CitizenID}}
  {{ r.FirstName}}
  {{ r.LastName}}
</ng-template>


<div class="container content">
<div class="row">
  <div class="col justify-content-center text-center align-middle">
    <label for="typeahead-basic" class="float-left">Suche:</label>
    <input id="typeahead-basic" type="text" class="form-control w-50 " [(ngModel)]="model" (ngModelChange)="onSearchChange($event)" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"/>
  </div>
  <div class="col justify-content-center text-center align-middle"><a routerLink="/registration/new" routerLinkActive="active"><button type="button" class="btn btn-primary">Neues Kind</button></a></div>
</div>
<div class="row justify-content-center">
  	<router-outlet (activate)='onActivate($event)'></router-outlet>
</div>
</div>

