/* You can add global styles to this file, and also import other style files */

@import 'css/bootstrap.min.css';     

body {
	background-color: #b7d432;
}

div.content {
	background-color: #F0F0F0;
	width:1000px;
}

div.footer {
	background-color:#d0d0d0;
}
